<!-- Header -->
	<header id="heady">
		<div class="container">
			<div class="row">
				<h1 class="lead">Be the sun in someome's dark sky</h1>				

				<p style="color: white;" class="tagline">Many ways to help, one place to start 
				<p><%= link_to "Discover Stories",  projects_path, class: "btn btn-default btn-lg" %> <%= link_to "Start a Fundraiser",  new_project_path, class: "btn btn-lg btn-success" %></p>
                
			</div>
		</div>
	</header>
	<!-- /Header -->

	<section id="services" class="emeraldu">
        <div class="container">
            <div class="row">             
                
         <section id="terms" class="container"><!--/#terms-->
        <h2 style="color:#39F; font-family:'Debevic Circular', serif; font-weight:600;" align="center">Many ways to help, one place to start</h2>
      
        <p>You never know when a helping hand will change another person's  entire life, Everyone needs a helping hand sometimes. And no matter how deep their pockets are, most people have been faced with a situation where they’ve had to raise a large sum of funds before. If you’ve ever had to do it, you know that sorting out how to raise money as well as the fundraising process is no walk in the park.

        So for all you first-time fundraising organizers, or anyone who just feels lost or overwhelmed with figuring out how to raise money, <i>FundStars</i> platform is here for you .</p>  
        <hr>

        <h3 style="color:#39F; font-family:'Debevic Circular', serif; font-weight:600;" align="center" > Start Your  Online Fundraiser </h3>
        <p align="center" >Raise money for a variety of humanitarian causes. Choose the one that is most important to you.<br>


        </p>

        <hr>


        <div class="row">
                <div class="col-md-4 col-sm-6">

                    <div class="media">
                        <div class="pull-left">
                           <%= image_tag("socialmedia/create.png", alt: "Donate", height: "50") %>

                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><b>Create a page</b></h3>
                            <p>It will only take you few seconds to create a free page to start receiving support .</p>
                            
                        </div>
                    </div>
                </div><!--/.col-md-3-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                              <%= image_tag("socialmedia/friends.png", alt: "Donate", height: "50") %>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><b>Invite friends and family</b></h3>
                            <p>Invite your family members and friends to visit your page . </p>
                           
                        </div>
                    </div>
                </div><!--/.col-md-3-->
                

                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <%= image_tag("socialmedia/share.png", alt: "Donate", height: "50") %>

                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><b>Share to the world!</b></h3>
                            <p>Let the world know, share your page on blogs and social media platforms or through the word of mouth.</p>
                            
                        </div>
                    </div>

                </div><!--/.col-md-3-->
                </div><!--/ end row -->
                

          </section><!--/# end terms-->

           </div>
           <hr>
        </div>        

        <div class="jumbotron center container">

                        <h4>Create account and start a fundraiser in minutes for free! </h4>
                        <p>Moments of joy can be spontatious </p>                        
                        <p><%= link_to "Start a Fundraiser",  new_project_path, class: "btn btn-lg btn-success" %></p>
         </div>
        
    </section><!--/#services-->
    <hr>   