<% provide(:title, "Project") %>


  <section id="terms" class="container">    

   
    

      <div class="row">
        <div class="col-lg-8">
       <h3><%= @project.title %></h3>
      
            	
            	<%= image_tag @project.picture_url, width: "100%", class: "img-thumbnail" %>
            	
            	
            	
            	<p><%= @project.content.html_safe %></p>
              <hr>
              <h3>Share:</h3>

              <%= social_share_button_tag("My Site") %>
              <hr>
              <p><b>Raised: $</b></p>
              

              <p><b>Goal $:</b><%= @project.project_goal %></p>
            	<p><b>Category:</b> <%= link_to @project.category.name, category_path(:id => @project.category.id)  %></p>

              
              <hr>
             
             

              <div class="row">
                        <div class="col-md-6">
                            
                               <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_150x38.png" alt="PayPal" />              
                            
                          <%= form_tag charges_path do %>
                            <div id="error_explanation">
                              <% if flash[:error].present? %>
                                <p><%= flash[:error] %></p>
                              <% end %>
                            </div>
                            <article>
                              <%= label_tag(:amount, 'Donation Amount:') %>
                              <%= text_field_tag(:amount) %>
                            </article>
                            <article>
                              <%= hidden_field_tag(:stripeToken) %>
                            </article>
                            <button id='donateButton' class="btn btn-success">Donate</button>
                          <% end %>

                          <script src="https://checkout.stripe.com/checkout.js"></script>

                          <script>
                          var handler = StripeCheckout.configure({
                            key: '<%= Rails.configuration.stripe[:publishable_key] %>',
                            locale: 'auto',
                            name: 'Sand Castles United',
                            description: 'One-time donation',
                            token: function(token) {
                              $('input#stripeToken').val(token.id);
                              $('form').submit();
                            }
                          });

                          $('#donateButton').on('click', function(e) {
                            e.preventDefault();

                            $('#error_explanation').html('');

                            var amount = $('input#amount').val();
                            amount = amount.replace(/\$/g, '').replace(/\,/g, '')

                            amount = parseFloat(amount);

                            if (isNaN(amount)) {
                              $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
                            }
                            else if (amount < 5.00) {
                              $('#error_explanation').html('<p>Donation amount must be at least $5.</p>');
                            }
                            else {
                              amount = amount * 100; // Needs to be an integer!
                              handler.open({
                                amount: Math.round(amount)
                              })
                            }
                          });

                          // Close Checkout on page navigation
                          $(window).on('popstate', function() {
                            handler.close();
                          });
                          </script>
                            <hr>
                         
                        </div>
                          <div class="col-md-6">
                            <blockquote>
                                
                            </blockquote>
                        </div>
                        </div>

              

                    </div>
                  
                  <div class="col-md-4">
            	  
            	    <ul class="tag-cloud">
            	   
            	    
            	    <hr>
            	    <h3 align="center">Categories</h3>
            	    
                       <% Category.all.each do |category| %>
                       <li><%= link_to  category.name, category, class: "btn btn-default" %></li>
                       <% end %>   
                     </ul>  
            	<hr>
            		
           	</div>       
          </div>


 
    </section><!--/#terms-->
